/* stijl.css - labo 3, tabblad (reset.css is linked before this file) */

/* === tokens === */
:root {

}

/* === your rules === */

body {
    background-color: #ff816f;
    padding: 10vh;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2 {
    border: solid black 2vh;
    box-shadow: -5px 5px 0 black;
}
h1 {
    background-color: #ffd500;
    width: 20vw;
    padding: 1rem;
    font-size: 0.8rem;
    border-bottom: none;
    box-shadow: -5px 5px 

}
h2 {
    background-color: white;
    width: 37vw;
    padding: 1rem;
    height: 25vh;
    box-shadow: 
    -5px 5px 0px black,
    5px 5px 0px black;
}
