/* stijl.css - labo 3, kleuren (reset.css is linked before this file) */

/* === tokens === */
:root {

}

/* === your rules === */

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    letter-spacing: 0.25rem;
    margin-bottom: 1.5vh;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    height: 20vh;
    padding-top: 7vh;
}
span:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
}
.tomato {
    background-color: tomato;
}
.orangered {
    background-color: orangered;
}
.coral {
    background-color: coral;
}
.lightsalmon {
background-color: lightsalmon;
}
.darkorange {
    background-color: darkorange;
}

